*{font-family:"Apple SD Ghotic", Helvetica, Arial, "Lucida Grande", sans-serif;font-size:12px;}
html, body{width:100%;}
body, pre{margin:0;}
hr{max-width: 950px; border: 1px solid #484646;}
input{border-radius: 0; border: 1px solid #000;}
button{border: 1px solid #000;font-size: 12px}
.text-time{font-size: 24px;}
.drag-and-drop-wrapper{height: 360px; display: block}
#drag-drop-area{background:#f0f0f0;height:232px;}
#drag-drop-area .drag-img-icon{width:16px;height:16px;vertical-align:middle;display:inline-block;background-image:url('/static/upload_icon.png');background-size:100% 100%;}
#drag-drop-area .drag-drop-wrap{display:inline-block;font-size:14px;color:#444;padding-top:100px;}
#drag-drop-area.drag-on{opacity:0.5;}
.nav-bar{height:70px;background:#353A40;}
.nav-title{color:#fff;font-size:24px;letter-spacing:-0.3px;display:block;padding:21px;text-decoration:initial;}
.section{padding-top:60px;padding-left:60px;padding-right:60px;max-width:950px;margin:auto;}
.section .title{font-size:30px;letter-spacing:-0.3px;line-height:1.2;font-weight:bold;width:440px;}
.section .description{margin:20px auto;font-size:14px;color:#444;letter-spacing:-0.3px;}
.footer{text-align:center;font-size:11px;color:#888;letter-spacing:-0.3px;margin-top:6px;}
.code-wrapper{height:312px;}
.center-wrapper{height:110px;background:#000;color:#ffffff;}
.center-wrapper .center-description{width:250px;padding-top:30px;float:left;padding-left:50px;}
.center-wrapper .center-logo{font-size:24px;letter-spacing:-0.3px;margin-bottom:2px;}
.center-wrapper .center-logo-desc{font-size:11px;opacity:.8;}
.center-wrapper .center-download-wrapper{float:right;padding-top:30px;padding-right:50px;}
.center-wrapper .center-download-wrapper .center-download-container{border:2px solid #fff;border-radius:26px;text-align:center;line-height:1.2 }
.center-wrapper .center-download-wrapper .center-download-container .center-download-box{cursor:pointer;padding:14px 40px;font-size:18px;font-weight:bold;display:flex;}
.center-wrapper .center-download-wrapper .center-download-container .center-download-box .center-download-image-icon{margin-top:4px;margin-right:4px;width:16px;height:15px;vertical-align:middle;display:inline-block;background-image:url('/static/download_icon.png');background-size:100% 100%;}
.result-title{padding-left: 10px; width: 100%;text-overflow: ellipsis;overflow: hidden;word-break: break-all;}
.stop-watch-wrapper {text-align: center; margin-top: 10px;}
#text-result{width:100%;height: 80px;border:0;padding:0;background:#f0f0f0 }
#initial-password{height: 20px;}
@media screen and (max-width:440px){
    .drag-and-drop-wrapper{height: 424px; display: block}
    .section{padding-left:20px;padding-right:20px;margin:auto;}
    .section .title{width:100%;}
    .code-wrapper{height:554px;}
    .col{width:100%;float:initial;}
    .center-wrapper{height:200px;text-align:center;}
    .center-wrapper .center-description{width:100%;text-align:center;float:initial;padding-left:initial;}
    .center-wrapper .center-download-wrapper{width:100%;text-align:center;float:initial;padding-right:initial;}
    .center-wrapper .center-download-container{width:200px;display:inline-block;}
}
